@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  min-width: 400px;
  min-height: 600px;
}

.todo-container input[type='text'] {
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 1rem;
  outline: none;
  background-color: #dee1e2;
  width: 100%;
}

.todo-container input:focus {
  background-color: #fff;
}

.todo-list {
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 2.5rem;
  width: 100%;
}

.todo-item button {
  height: 1.5rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.todo-item button:hover span {
  color: red;
}

.todo-list label {
  position: relative;
  display: flex;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.todo-list input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
}

.todo-list i {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #333;
}

.todo-list input[type='checkbox']:checked ~ i {
  border-top: none;
  border-right: none;
  height: 10px;
  width: 16px;
  transform: rotate(-45deg);
  transform-origin: center;
  border-color: #777;
}

.todo-list span {
  position: relative;
  transition: 0.5s;
  text-transform: capitalize;
  color: #333;
}

.todo-list span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #777;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.todo-list input[type='checkbox']:checked ~ span:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.todo-list input[type='checkbox']:checked ~ span {
  color: #888;
  font-size: 14px;
}
